*.exe
*.obj
*.pdb
*.ilk
*.exp
*.lib

build/
out/
x64/
x86/
Debug/
Release/

.vs/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
ipch/
*.VC.db
*.VC.opendb

.vscode/settings.json
.vscode/launch.json

*.log
FileUtils_0.h